src/conf/xml-resources/web-service-references/UsuarioService/wsdl/localhost_8080/proyecto5-war/UsuarioService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.app/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.app/" name="UsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.app/" schemaLocation="http://localhost:8080/proyecto5-war/UsuarioService?xsd=1"/>
</xsd:schema>
</types>
<message name="createUsuario">
<part name="parameters" element="tns:createUsuario"/>
</message>
<message name="removeUsuario">
<part name="parameters" element="tns:removeUsuario"/>
</message>
<message name="findAllUsuario">
<part name="parameters" element="tns:findAllUsuario"/>
</message>
<message name="findAllUsuarioResponse">
<part name="parameters" element="tns:findAllUsuarioResponse"/>
</message>
<message name="findRangeUsuario">
<part name="parameters" element="tns:findRangeUsuario"/>
</message>
<message name="findRangeUsuarioResponse">
<part name="parameters" element="tns:findRangeUsuarioResponse"/>
</message>
<message name="insertarUsuario">
<part name="parameters" element="tns:insertarUsuario"/>
</message>
<message name="actualizarRango">
<part name="parameters" element="tns:actualizarRango"/>
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario"/>
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse"/>
</message>
<message name="autorizacion">
<part name="parameters" element="tns:autorizacion"/>
</message>
<message name="autorizacionResponse">
<part name="parameters" element="tns:autorizacionResponse"/>
</message>
<message name="existeNick">
<part name="parameters" element="tns:existeNick"/>
</message>
<message name="existeNickResponse">
<part name="parameters" element="tns:existeNickResponse"/>
</message>
<message name="editUsuario">
<part name="parameters" element="tns:editUsuario"/>
</message>
<message name="findUsuario">
<part name="parameters" element="tns:findUsuario"/>
</message>
<message name="findUsuarioResponse">
<part name="parameters" element="tns:findUsuarioResponse"/>
</message>
<message name="countUsuario">
<part name="parameters" element="tns:countUsuario"/>
</message>
<message name="countUsuarioResponse">
<part name="parameters" element="tns:countUsuarioResponse"/>
</message>
<portType name="UsuarioService">
<operation name="createUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/createUsuario" message="tns:createUsuario"/>
</operation>
<operation name="removeUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/removeUsuario" message="tns:removeUsuario"/>
</operation>
<operation name="findAllUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/findAllUsuarioRequest" message="tns:findAllUsuario"/>
<output wsam:Action="http://webservice.app/UsuarioService/findAllUsuarioResponse" message="tns:findAllUsuarioResponse"/>
</operation>
<operation name="findRangeUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/findRangeUsuarioRequest" message="tns:findRangeUsuario"/>
<output wsam:Action="http://webservice.app/UsuarioService/findRangeUsuarioResponse" message="tns:findRangeUsuarioResponse"/>
</operation>
<operation name="insertarUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/insertarUsuario" message="tns:insertarUsuario"/>
</operation>
<operation name="actualizarRango">
<input wsam:Action="http://webservice.app/UsuarioService/actualizarRango" message="tns:actualizarRango"/>
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/buscarUsuarioRequest" message="tns:buscarUsuario"/>
<output wsam:Action="http://webservice.app/UsuarioService/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"/>
</operation>
<operation name="autorizacion">
<input wsam:Action="http://webservice.app/UsuarioService/autorizacionRequest" message="tns:autorizacion"/>
<output wsam:Action="http://webservice.app/UsuarioService/autorizacionResponse" message="tns:autorizacionResponse"/>
</operation>
<operation name="existeNick">
<input wsam:Action="http://webservice.app/UsuarioService/existeNickRequest" message="tns:existeNick"/>
<output wsam:Action="http://webservice.app/UsuarioService/existeNickResponse" message="tns:existeNickResponse"/>
</operation>
<operation name="editUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/editUsuario" message="tns:editUsuario"/>
</operation>
<operation name="findUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/findUsuarioRequest" message="tns:findUsuario"/>
<output wsam:Action="http://webservice.app/UsuarioService/findUsuarioResponse" message="tns:findUsuarioResponse"/>
</operation>
<operation name="countUsuario">
<input wsam:Action="http://webservice.app/UsuarioService/countUsuarioRequest" message="tns:countUsuario"/>
<output wsam:Action="http://webservice.app/UsuarioService/countUsuarioResponse" message="tns:countUsuarioResponse"/>
</operation>
</portType>
<binding name="UsuarioServicePortBinding" type="tns:UsuarioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="actualizarRango">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autorizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeNick">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioService">
<port name="UsuarioServicePort" binding="tns:UsuarioServicePortBinding">
<soap:address location="http://localhost:8080/proyecto5-war/UsuarioService"/>
</port>
</service>
</definitions>