src/conf/xml-resources/web-service-references/DescubrimientoService/wsdl/localhost_8080/proyecto5-war/DescubrimientoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.app/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.app/" name="DescubrimientoService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.app/" schemaLocation="http://localhost:8080/proyecto5-war/DescubrimientoService?xsd=1"/>
</xsd:schema>
</types>
<message name="devolverDescubrimientosDeUnTesoro">
<part name="parameters" element="tns:devolverDescubrimientosDeUnTesoro"/>
</message>
<message name="devolverDescubrimientosDeUnTesoroResponse">
<part name="parameters" element="tns:devolverDescubrimientosDeUnTesoroResponse"/>
</message>
<message name="devolverDescubrimientosDeUnUsuario">
<part name="parameters" element="tns:devolverDescubrimientosDeUnUsuario"/>
</message>
<message name="devolverDescubrimientosDeUnUsuarioResponse">
<part name="parameters" element="tns:devolverDescubrimientosDeUnUsuarioResponse"/>
</message>
<message name="findAllDescubrimiento">
<part name="parameters" element="tns:findAllDescubrimiento"/>
</message>
<message name="findAllDescubrimientoResponse">
<part name="parameters" element="tns:findAllDescubrimientoResponse"/>
</message>
<message name="findRangeDescubrimiento">
<part name="parameters" element="tns:findRangeDescubrimiento"/>
</message>
<message name="findRangeDescubrimientoResponse">
<part name="parameters" element="tns:findRangeDescubrimientoResponse"/>
</message>
<message name="createDescubrimiento">
<part name="parameters" element="tns:createDescubrimiento"/>
</message>
<message name="editDescubrimiento">
<part name="parameters" element="tns:editDescubrimiento"/>
</message>
<message name="removeDescubrimiento">
<part name="parameters" element="tns:removeDescubrimiento"/>
</message>
<message name="findDescubrimiento">
<part name="parameters" element="tns:findDescubrimiento"/>
</message>
<message name="findDescubrimientoResponse">
<part name="parameters" element="tns:findDescubrimientoResponse"/>
</message>
<message name="countDescubrimiento">
<part name="parameters" element="tns:countDescubrimiento"/>
</message>
<message name="countDescubrimientoResponse">
<part name="parameters" element="tns:countDescubrimientoResponse"/>
</message>
<portType name="DescubrimientoService">
<operation name="devolverDescubrimientosDeUnTesoro">
<input wsam:Action="http://webservice.app/DescubrimientoService/devolverDescubrimientosDeUnTesoroRequest" message="tns:devolverDescubrimientosDeUnTesoro"/>
<output wsam:Action="http://webservice.app/DescubrimientoService/devolverDescubrimientosDeUnTesoroResponse" message="tns:devolverDescubrimientosDeUnTesoroResponse"/>
</operation>
<operation name="devolverDescubrimientosDeUnUsuario">
<input wsam:Action="http://webservice.app/DescubrimientoService/devolverDescubrimientosDeUnUsuarioRequest" message="tns:devolverDescubrimientosDeUnUsuario"/>
<output wsam:Action="http://webservice.app/DescubrimientoService/devolverDescubrimientosDeUnUsuarioResponse" message="tns:devolverDescubrimientosDeUnUsuarioResponse"/>
</operation>
<operation name="findAllDescubrimiento">
<input wsam:Action="http://webservice.app/DescubrimientoService/findAllDescubrimientoRequest" message="tns:findAllDescubrimiento"/>
<output wsam:Action="http://webservice.app/DescubrimientoService/findAllDescubrimientoResponse" message="tns:findAllDescubrimientoResponse"/>
</operation>
<operation name="findRangeDescubrimiento">
<input wsam:Action="http://webservice.app/DescubrimientoService/findRangeDescubrimientoRequest" message="tns:findRangeDescubrimiento"/>
<output wsam:Action="http://webservice.app/DescubrimientoService/findRangeDescubrimientoResponse" message="tns:findRangeDescubrimientoResponse"/>
</operation>
<operation name="createDescubrimiento">
<input wsam:Action="http://webservice.app/DescubrimientoService/createDescubrimiento" message="tns:createDescubrimiento"/>
</operation>
<operation name="editDescubrimiento">
<input wsam:Action="http://webservice.app/DescubrimientoService/editDescubrimiento" message="tns:editDescubrimiento"/>
</operation>
<operation name="removeDescubrimiento">
<input wsam:Action="http://webservice.app/DescubrimientoService/removeDescubrimiento" message="tns:removeDescubrimiento"/>
</operation>
<operation name="findDescubrimiento">
<input wsam:Action="http://webservice.app/DescubrimientoService/findDescubrimientoRequest" message="tns:findDescubrimiento"/>
<output wsam:Action="http://webservice.app/DescubrimientoService/findDescubrimientoResponse" message="tns:findDescubrimientoResponse"/>
</operation>
<operation name="countDescubrimiento">
<input wsam:Action="http://webservice.app/DescubrimientoService/countDescubrimientoRequest" message="tns:countDescubrimiento"/>
<output wsam:Action="http://webservice.app/DescubrimientoService/countDescubrimientoResponse" message="tns:countDescubrimientoResponse"/>
</operation>
</portType>
<binding name="DescubrimientoServicePortBinding" type="tns:DescubrimientoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="devolverDescubrimientosDeUnTesoro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverDescubrimientosDeUnUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllDescubrimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeDescubrimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDescubrimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editDescubrimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeDescubrimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findDescubrimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countDescubrimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DescubrimientoService">
<port name="DescubrimientoServicePort" binding="tns:DescubrimientoServicePortBinding">
<soap:address location="http://localhost:8080/proyecto5-war/DescubrimientoService"/>
</port>
</service>
</definitions>