web/WEB-INF/wsdl/localhost_8080/proyecto5-war/AvisoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.app/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.app/" name="AvisoService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.app/" schemaLocation="http://localhost:8080/proyecto5-war/AvisoService?xsd=1"/>
</xsd:schema>
</types>
<message name="devolverListaAvisosNoLeidos">
<part name="parameters" element="tns:devolverListaAvisosNoLeidos"/>
</message>
<message name="devolverListaAvisosNoLeidosResponse">
<part name="parameters" element="tns:devolverListaAvisosNoLeidosResponse"/>
</message>
<message name="buscarAvisoId">
<part name="parameters" element="tns:buscarAvisoId"/>
</message>
<message name="buscarAvisoIdResponse">
<part name="parameters" element="tns:buscarAvisoIdResponse"/>
</message>
<message name="createAviso">
<part name="parameters" element="tns:createAviso"/>
</message>
<message name="editAviso">
<part name="parameters" element="tns:editAviso"/>
</message>
<message name="removeAviso">
<part name="parameters" element="tns:removeAviso"/>
</message>
<message name="findAviso">
<part name="parameters" element="tns:findAviso"/>
</message>
<message name="findAvisoResponse">
<part name="parameters" element="tns:findAvisoResponse"/>
</message>
<message name="findAllAviso">
<part name="parameters" element="tns:findAllAviso"/>
</message>
<message name="findAllAvisoResponse">
<part name="parameters" element="tns:findAllAvisoResponse"/>
</message>
<message name="countAviso">
<part name="parameters" element="tns:countAviso"/>
</message>
<message name="countAvisoResponse">
<part name="parameters" element="tns:countAvisoResponse"/>
</message>
<message name="devolverListaAvisosDeUnUsuario">
<part name="parameters" element="tns:devolverListaAvisosDeUnUsuario"/>
</message>
<message name="devolverListaAvisosDeUnUsuarioResponse">
<part name="parameters" element="tns:devolverListaAvisosDeUnUsuarioResponse"/>
</message>
<message name="findRangeAviso">
<part name="parameters" element="tns:findRangeAviso"/>
</message>
<message name="findRangeAvisoResponse">
<part name="parameters" element="tns:findRangeAvisoResponse"/>
</message>
<portType name="AvisoService">
<operation name="devolverListaAvisosNoLeidos">
<input wsam:Action="http://webservice.app/AvisoService/devolverListaAvisosNoLeidosRequest" message="tns:devolverListaAvisosNoLeidos"/>
<output wsam:Action="http://webservice.app/AvisoService/devolverListaAvisosNoLeidosResponse" message="tns:devolverListaAvisosNoLeidosResponse"/>
</operation>
<operation name="buscarAvisoId">
<input wsam:Action="http://webservice.app/AvisoService/buscarAvisoIdRequest" message="tns:buscarAvisoId"/>
<output wsam:Action="http://webservice.app/AvisoService/buscarAvisoIdResponse" message="tns:buscarAvisoIdResponse"/>
</operation>
<operation name="createAviso">
<input wsam:Action="http://webservice.app/AvisoService/createAviso" message="tns:createAviso"/>
</operation>
<operation name="editAviso">
<input wsam:Action="http://webservice.app/AvisoService/editAviso" message="tns:editAviso"/>
</operation>
<operation name="removeAviso">
<input wsam:Action="http://webservice.app/AvisoService/removeAviso" message="tns:removeAviso"/>
</operation>
<operation name="findAviso">
<input wsam:Action="http://webservice.app/AvisoService/findAvisoRequest" message="tns:findAviso"/>
<output wsam:Action="http://webservice.app/AvisoService/findAvisoResponse" message="tns:findAvisoResponse"/>
</operation>
<operation name="findAllAviso">
<input wsam:Action="http://webservice.app/AvisoService/findAllAvisoRequest" message="tns:findAllAviso"/>
<output wsam:Action="http://webservice.app/AvisoService/findAllAvisoResponse" message="tns:findAllAvisoResponse"/>
</operation>
<operation name="countAviso">
<input wsam:Action="http://webservice.app/AvisoService/countAvisoRequest" message="tns:countAviso"/>
<output wsam:Action="http://webservice.app/AvisoService/countAvisoResponse" message="tns:countAvisoResponse"/>
</operation>
<operation name="devolverListaAvisosDeUnUsuario">
<input wsam:Action="http://webservice.app/AvisoService/devolverListaAvisosDeUnUsuarioRequest" message="tns:devolverListaAvisosDeUnUsuario"/>
<output wsam:Action="http://webservice.app/AvisoService/devolverListaAvisosDeUnUsuarioResponse" message="tns:devolverListaAvisosDeUnUsuarioResponse"/>
</operation>
<operation name="findRangeAviso">
<input wsam:Action="http://webservice.app/AvisoService/findRangeAvisoRequest" message="tns:findRangeAviso"/>
<output wsam:Action="http://webservice.app/AvisoService/findRangeAvisoResponse" message="tns:findRangeAvisoResponse"/>
</operation>
</portType>
<binding name="AvisoServicePortBinding" type="tns:AvisoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="devolverListaAvisosNoLeidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAvisoId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAviso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editAviso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeAviso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAviso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllAviso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAviso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverListaAvisosDeUnUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeAviso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AvisoService">
<port name="AvisoServicePort" binding="tns:AvisoServicePortBinding">
<soap:address location="http://localhost:8080/proyecto5-war/AvisoService"/>
</port>
</service>
</definitions>