web/WEB-INF/wsdl/localhost_8080/proyecto5-war/ComentarioTesoro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.app/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.app/" name="ComentarioTesoro">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.app/" schemaLocation="http://localhost:8080/proyecto5-war/ComentarioTesoro?xsd=1"/>
</xsd:schema>
</types>
<message name="createComentario">
<part name="parameters" element="tns:createComentario"/>
</message>
<message name="devolverListaComentarios">
<part name="parameters" element="tns:devolverListaComentarios"/>
</message>
<message name="devolverListaComentariosResponse">
<part name="parameters" element="tns:devolverListaComentariosResponse"/>
</message>
<message name="addFechaBorradoComentarioByID">
<part name="parameters" element="tns:addFechaBorradoComentarioByID"/>
</message>
<message name="modificarComentario">
<part name="parameters" element="tns:modificarComentario"/>
</message>
<message name="editComentario">
<part name="parameters" element="tns:editComentario"/>
</message>
<message name="removeComentario">
<part name="parameters" element="tns:removeComentario"/>
</message>
<message name="findComentario">
<part name="parameters" element="tns:findComentario"/>
</message>
<message name="findComentarioResponse">
<part name="parameters" element="tns:findComentarioResponse"/>
</message>
<message name="findAllComentario">
<part name="parameters" element="tns:findAllComentario"/>
</message>
<message name="findAllComentarioResponse">
<part name="parameters" element="tns:findAllComentarioResponse"/>
</message>
<message name="findRangeComentario">
<part name="parameters" element="tns:findRangeComentario"/>
</message>
<message name="findRangeComentarioResponse">
<part name="parameters" element="tns:findRangeComentarioResponse"/>
</message>
<message name="countComentario">
<part name="parameters" element="tns:countComentario"/>
</message>
<message name="countComentarioResponse">
<part name="parameters" element="tns:countComentarioResponse"/>
</message>
<portType name="ComentarioTesoro">
<operation name="createComentario">
<input wsam:Action="http://webservice.app/ComentarioTesoro/createComentario" message="tns:createComentario"/>
</operation>
<operation name="devolverListaComentarios">
<input wsam:Action="http://webservice.app/ComentarioTesoro/devolverListaComentariosRequest" message="tns:devolverListaComentarios"/>
<output wsam:Action="http://webservice.app/ComentarioTesoro/devolverListaComentariosResponse" message="tns:devolverListaComentariosResponse"/>
</operation>
<operation name="addFechaBorradoComentarioByID">
<input wsam:Action="http://webservice.app/ComentarioTesoro/addFechaBorradoComentarioByID" message="tns:addFechaBorradoComentarioByID"/>
</operation>
<operation name="modificarComentario">
<input wsam:Action="http://webservice.app/ComentarioTesoro/modificarComentario" message="tns:modificarComentario"/>
</operation>
<operation name="editComentario">
<input wsam:Action="http://webservice.app/ComentarioTesoro/editComentario" message="tns:editComentario"/>
</operation>
<operation name="removeComentario">
<input wsam:Action="http://webservice.app/ComentarioTesoro/removeComentario" message="tns:removeComentario"/>
</operation>
<operation name="findComentario">
<input wsam:Action="http://webservice.app/ComentarioTesoro/findComentarioRequest" message="tns:findComentario"/>
<output wsam:Action="http://webservice.app/ComentarioTesoro/findComentarioResponse" message="tns:findComentarioResponse"/>
</operation>
<operation name="findAllComentario">
<input wsam:Action="http://webservice.app/ComentarioTesoro/findAllComentarioRequest" message="tns:findAllComentario"/>
<output wsam:Action="http://webservice.app/ComentarioTesoro/findAllComentarioResponse" message="tns:findAllComentarioResponse"/>
</operation>
<operation name="findRangeComentario">
<input wsam:Action="http://webservice.app/ComentarioTesoro/findRangeComentarioRequest" message="tns:findRangeComentario"/>
<output wsam:Action="http://webservice.app/ComentarioTesoro/findRangeComentarioResponse" message="tns:findRangeComentarioResponse"/>
</operation>
<operation name="countComentario">
<input wsam:Action="http://webservice.app/ComentarioTesoro/countComentarioRequest" message="tns:countComentario"/>
<output wsam:Action="http://webservice.app/ComentarioTesoro/countComentarioResponse" message="tns:countComentarioResponse"/>
</operation>
</portType>
<binding name="ComentarioTesoroPortBinding" type="tns:ComentarioTesoro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="devolverListaComentarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFechaBorradoComentarioByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="modificarComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countComentario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ComentarioTesoro">
<port name="ComentarioTesoroPort" binding="tns:ComentarioTesoroPortBinding">
<soap:address location="http://localhost:8080/proyecto5-war/ComentarioTesoro"/>
</port>
</service>
</definitions>