web/WEB-INF/wsdl/localhost_8080/proyecto5-war/DescubrimientoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.app/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.app/">

<xs:element name="countDescubrimiento" type="tns:countDescubrimiento"/>

<xs:element name="countDescubrimientoResponse" type="tns:countDescubrimientoResponse"/>

<xs:element name="createDescubrimiento" type="tns:createDescubrimiento"/>

<xs:element name="descubrimiento" type="tns:descubrimiento"/>

<xs:element name="devolverDescubrimientosDeUnTesoro" type="tns:devolverDescubrimientosDeUnTesoro"/>

<xs:element name="devolverDescubrimientosDeUnTesoroResponse" type="tns:devolverDescubrimientosDeUnTesoroResponse"/>

<xs:element name="devolverDescubrimientosDeUnUsuario" type="tns:devolverDescubrimientosDeUnUsuario"/>

<xs:element name="devolverDescubrimientosDeUnUsuarioResponse" type="tns:devolverDescubrimientosDeUnUsuarioResponse"/>

<xs:element name="editDescubrimiento" type="tns:editDescubrimiento"/>

<xs:element name="equipo" type="tns:equipo"/>

<xs:element name="findAllDescubrimiento" type="tns:findAllDescubrimiento"/>

<xs:element name="findAllDescubrimientoResponse" type="tns:findAllDescubrimientoResponse"/>

<xs:element name="findDescubrimiento" type="tns:findDescubrimiento"/>

<xs:element name="findDescubrimientoResponse" type="tns:findDescubrimientoResponse"/>

<xs:element name="findRangeDescubrimiento" type="tns:findRangeDescubrimiento"/>

<xs:element name="findRangeDescubrimientoResponse" type="tns:findRangeDescubrimientoResponse"/>

<xs:element name="removeDescubrimiento" type="tns:removeDescubrimiento"/>

<xs:element name="tesoro" type="tns:tesoro"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="createDescubrimiento">
<xs:sequence>
<xs:element name="entity" type="tns:descubrimiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descubrimiento">
<xs:sequence>
<xs:element name="descubrimientoPK" type="tns:descubrimientoPK" minOccurs="0"/>
<xs:element name="dificultad" type="xs:int" minOccurs="0"/>
<xs:element name="fechaDescubrimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="kmRecorridos" type="xs:int" minOccurs="0"/>
<xs:element ref="tns:tesoro" minOccurs="0"/>
<xs:element ref="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descubrimientoPK">
<xs:sequence>
<xs:element name="tesoroidTesoro" type="xs:int"/>
<xs:element name="usuarioidUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tesoro">
<xs:sequence>
<xs:element name="altitud" type="xs:string" minOccurs="0"/>
<xs:element name="codSeguridad" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="dificultad" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaEscondido" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idTesoro" type="xs:int" minOccurs="0"/>
<xs:element name="latitud" type="xs:string" minOccurs="0"/>
<xs:element name="longitud" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="tamanio" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioidUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="zona" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="equipoidEquipo" type="tns:equipo" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int" minOccurs="0"/>
<xs:element name="nick" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="rango" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="equipo">
<xs:sequence>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
<xs:element name="idEquipo" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countDescubrimiento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countDescubrimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeDescubrimiento">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeDescubrimientoResponse">
<xs:sequence>
<xs:element name="return" type="tns:descubrimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDescubrimiento">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDescubrimientoResponse">
<xs:sequence>
<xs:element name="return" type="tns:descubrimiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="devolverDescubrimientosDeUnTesoro">
<xs:sequence>
<xs:element name="idTesoro" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="devolverDescubrimientosDeUnTesoroResponse">
<xs:sequence>
<xs:element name="return" type="tns:descubrimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editDescubrimiento">
<xs:sequence>
<xs:element name="entity" type="tns:descubrimiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="devolverDescubrimientosDeUnUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="devolverDescubrimientosDeUnUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:descubrimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllDescubrimiento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllDescubrimientoResponse">
<xs:sequence>
<xs:element name="return" type="tns:descubrimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDescubrimiento">
<xs:sequence>
<xs:element name="entity" type="tns:descubrimiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>