web/WEB-INF/wsdl/localhost_8080/proyecto5-war/EquipoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.app/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.app/" name="EquipoService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.app/" schemaLocation="http://localhost:8080/proyecto5-war/EquipoService?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllEquipo">
<part name="parameters" element="tns:findAllEquipo"/>
</message>
<message name="findAllEquipoResponse">
<part name="parameters" element="tns:findAllEquipoResponse"/>
</message>
<message name="findRangeEquipo">
<part name="parameters" element="tns:findRangeEquipo"/>
</message>
<message name="findRangeEquipoResponse">
<part name="parameters" element="tns:findRangeEquipoResponse"/>
</message>
<message name="createEquipo">
<part name="parameters" element="tns:createEquipo"/>
</message>
<message name="editEquipo">
<part name="parameters" element="tns:editEquipo"/>
</message>
<message name="removeEquipo">
<part name="parameters" element="tns:removeEquipo"/>
</message>
<message name="findEquipo">
<part name="parameters" element="tns:findEquipo"/>
</message>
<message name="findEquipoResponse">
<part name="parameters" element="tns:findEquipoResponse"/>
</message>
<message name="countEquipo">
<part name="parameters" element="tns:countEquipo"/>
</message>
<message name="countEquipoResponse">
<part name="parameters" element="tns:countEquipoResponse"/>
</message>
<portType name="EquipoService">
<operation name="findAllEquipo">
<input wsam:Action="http://webservice.app/EquipoService/findAllEquipoRequest" message="tns:findAllEquipo"/>
<output wsam:Action="http://webservice.app/EquipoService/findAllEquipoResponse" message="tns:findAllEquipoResponse"/>
</operation>
<operation name="findRangeEquipo">
<input wsam:Action="http://webservice.app/EquipoService/findRangeEquipoRequest" message="tns:findRangeEquipo"/>
<output wsam:Action="http://webservice.app/EquipoService/findRangeEquipoResponse" message="tns:findRangeEquipoResponse"/>
</operation>
<operation name="createEquipo">
<input wsam:Action="http://webservice.app/EquipoService/createEquipo" message="tns:createEquipo"/>
</operation>
<operation name="editEquipo">
<input wsam:Action="http://webservice.app/EquipoService/editEquipo" message="tns:editEquipo"/>
</operation>
<operation name="removeEquipo">
<input wsam:Action="http://webservice.app/EquipoService/removeEquipo" message="tns:removeEquipo"/>
</operation>
<operation name="findEquipo">
<input wsam:Action="http://webservice.app/EquipoService/findEquipoRequest" message="tns:findEquipo"/>
<output wsam:Action="http://webservice.app/EquipoService/findEquipoResponse" message="tns:findEquipoResponse"/>
</operation>
<operation name="countEquipo">
<input wsam:Action="http://webservice.app/EquipoService/countEquipoRequest" message="tns:countEquipo"/>
<output wsam:Action="http://webservice.app/EquipoService/countEquipoResponse" message="tns:countEquipoResponse"/>
</operation>
</portType>
<binding name="EquipoServicePortBinding" type="tns:EquipoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countEquipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EquipoService">
<port name="EquipoServicePort" binding="tns:EquipoServicePortBinding">
<soap:address location="http://localhost:8080/proyecto5-war/EquipoService"/>
</port>
</service>
</definitions>